nav {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

nav>a:visited {
  color: #fff;
}

nav>a:first-child {
  display: flex;
  align-items: center;
  color: #000;
}

.icon {
  display: flex;
  align-items: center;
}

nav>div {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  nav {
    padding: 0 15vw;
  }

  .icon>img {
    max-width: 128px;
    max-height: 128px;
  }

  .icon::after {
    content: "阿蜜鳳梨";
    font-size: 3rem;
  }
}