.shopping-cart {
  background-image: url('../asset/shopping-cart.png');
  height: 50px;
  width: 50px;
  background-size: cover;
  position: absolute;
  top: 7.5vw;
  right: 15px;
}

.shopping-cart>p {
  position: absolute;
  top: 12px;
  right: 16px;
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
  color: #000;
}

@media (min-width: 1000px) {
  .shopping-cart {
    top: 20px;
    right: 10vw;
  }
}