.shopping-cart {
  background-image: url('../asset/shopping-cart.png');
  width: max(3vw, 48px);
  height: max(3vw, 48px);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart>p {
  color: #000;
  margin: 0;
  font-size: 1rem;
  font-weight: bolder;
  transform-origin: center;
  transform: translate(40%, -15%);
}

@media (min-width: 768px) {
  .shopping-cart>p {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
  }
}