.spa-content {
  min-height: 70vh;
}

nav,footer {
  height: 15vh;
  background-color: rgb(82,148,82);
}

@media (min-width: 768px) {
  .spa-content {
    min-height: 80vh;
  }
  
  nav {
    height: 10vh;
  }
  
  footer {
    height: 10vh;
  }
}