body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}